# add, sub, neg
# eq, gt, lt
# and, or, not

# 1
# 1

# 2 add

# 2
# 1 push last

# 3 add

# 3
# 2 push last

push constant 1
push constant 1
push constant 1
add

label ADDTWO
pop result 0
push result 0
push constant 20
gt
if-goto END
push result 0
pop temp 0
pop temp 1
push temp 0
push temp 1
push temp 0
add
goto ADDTWO
label END
